body{
background-color: #EFF1FA;
}

.logoAlura{
    margin: 20px 0 0 0px;
}

.areaDeTexto{
    position: relative;
}

.textoIngreso{
    background-color: #EFF1FA;
    border: none;
    margin: 0 auto;
    font-size: 20px;
    outline: 0 none;
    resize: none;
    width: 577px;
    height: 744px;
}

#textoSalida{
    border: none;
    border-radius: 32px;
    font-size: 20px;
    outline: 0 none;
    resize: none;
    width: 400px;
    height: 744px;
    padding: 12px;
}

.alertaMinusculas{
    color: #495057;
    margin: 20px;
}

.botonesInteracion {
    background-color: #0A3871;
    width: 199px;
    height: 67px;
    top: 107px;
    left: 24px;
    border-radius: 24px;
    padding: 24px;
    color: white;
    border: none;
}

